@font-face {
    font-family: "Ruda";
    src: url("../fonts/Ruda/static/Ruda-Medium.ttf");
}

html, body, ul, li, p, div, caption, h1, span, a, h5{
    margin: 0;
    padding: 0;
    /* height: 100%; */
    list-style-type: none;
    text-decoration: none; }

body{
    height: 100%;
}

.header{
    display:flex;
    flex-direction: column;
}

/* .blue-line {
    background-color: #255D9E;
    height: 6px;
} */

.orange-header{
    background-color: #FC8129;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    height: 100px;
    border-bottom: solid 24px #BE2424;
    border-top: solid 6px rgb(255, 94, 0);
}

.menu li{
    display:inline-block;
    padding: 0 20px 0 20px;
}

.menu a {
    color: #657A6E;
    line-height: 100px;
    font-family: Ruda;
    font-size: 22px;
}

.menu a:hover {
    border-bottom: solid 5px #47FC90;
}

.menu a:visited {
    color: #657A6E;
}

h1{
    color: #657A6E;
    font-family: Ruda;
    font-size: 36px;
    text-shadow: 3px 7px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.23em;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

h1:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

#title-with-logo {
    padding-top: 8px;
    display:flex;
    flex-direction: row;
}

#title-with-logo img {
    height: 80px;
    width: 80px;
    opacity: 0.68;
}

.title-with-logo {
    width: 35%;
    float:right;
}

.red-line {
    background-color: #BE2424;
    height: 25px;
}

.main-container {
    background-color: #180427;
    display:flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.sub-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.purple-triangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 360px 100px 0;
    border-color: transparent #491744 transparent transparent;
}
.shadow-triangle {
    margin: -70px 0px 0px -0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 360px 100px 0;
    border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent;
}

.content {
    padding: 0px 50px;
}

footer h5 {
    text-align: center;
    line-height: 22px;
    height: 15px;
    font-size: 11px;
}

.subpage-header h2 {
    font-family: Ruda;
    color: #EB1717;
    font-size: 32px;
}

.subpage-header { 
    padding: 15px 50px;
}