@font-face {
    font-family: "Ruda";
    src: url("../fonts/Ruda/static/Ruda-Medium.ttf");
}

html, body, ul, li, p, div, caption, h1, span, a, h5{
    margin: 0;
    padding: 0;
    /* height: 100%; */
    list-style-type: none;
    text-decoration: none; }

body{
    height: 100%;
}

header{
    display:flex;
    flex-direction: column;
}

/* blue #255D9E; */


.orange-header{
    background-color: #FC8129;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3.125em 0 3.125em;
    height: 6.25em;
    border-bottom: solid 1.5em #BE2424;
    border-top: solid 0.375em rgb(255, 94, 0);
}

.menu li{
    display:inline-block;
    padding: 0 1.25em 0 1.25em;
}

.menu a {
    color: #657A6E;
    line-height: 4.25em;
    font-family: Ruda;
    font-size: 22px;
}

.menu a:hover {
    border-bottom: solid 0.3125em #47FC90;
}

.menu a:visited {
    color: #657A6E;
}

h1{
    color: #657A6E;
    font-family: Ruda;
    font-size: 2.25em;
    text-shadow: 0.1875em 0.4375 0.25em rgba(0, 0, 0, 0.25);
    letter-spacing: 0.23em;
    opacity: 0.3;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

h1:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

#title-with-logo {
    padding-top: 0.5em;
    display:flex;
    flex-direction: row;
}

#title-with-logo img {
    height: 5em;
    width: 5em;
    opacity: 0.68;
}

.title-with-logo {
    width: 35%;
    float:right;
}

.red-line {
    background-color: #BE2424;
    height: 1.5625em;
}

main{
    background-color: #180427;
    display:flex;
    flex-direction: column;
    padding-bottom: 1.5625em;
    min-height: calc(100vh - 11.25em);
}

.sub-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.purple-triangle {
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 22.5em 6.25em 0;
    border-color: transparent #491744 transparent transparent;
}
.shadow-triangle {
    margin: -4.375em 0 0 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 22.5em 6.25em 0;
    border-color: transparent rgba(0, 0, 0, 0.4) transparent transparent;
}

.content {
    padding: 0 3.125em;
}

footer h5 {
    text-align: center;
    font-size: 11px;
    line-height: 2em;
    height: 1.3636363636em;
}

.subpage-header {
    font-family: Ruda;
    color: #EB1717;
    font-size: 32px;
    padding: 0.46875em 1.5625em;
}

.red-button {
    background-color: #EB1717;
    font-family: Ruda;
    color: #fff;
    font-size: 14px;
    padding: 1.5em;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.71428571428em 1.28571428571em;
}

.justify-center{
    display:flex;
    flex-direction: column;
    align-items: center;
}