.subpage-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subpage-footer .triangle-box {
    display: flex;
    align-items: flex-end;
}

.subpage-footer .purple-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0px 0px 360px;
    border-color: transparent transparent transparent #491744;

    
}
.subpage-footer .shadow-triangle {
    margin: 0px 0px -30px -360px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 360px;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.4);

}

.vessel-container {
    margin-right: 290px;
}
.vessel {
    background-color: #255D9E;
    width: 420px;
    height: 120px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 18px 0 18px 0;
}

.sp-logo img{
    height: 120px;
    width: 120px;
}

.sp-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sp-text div span {
    position: relative;
    font-family: Ruda;
    color: white;
    font-size: 22px;
    
}
.info {
    font-family: Ruda;
    color: #EB1717;
    font-size: 20px;

}

.info h4 {
    margin-top: 12px;
}

.info h4:first-child{
    font-size: 26px;
    margin-bottom: 20px;
}

.content-title {
    margin-top: 50px;
    font-family: Ruda;
    color: #EB1717;
    font-size: 24px;
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    margin: 15px;
    padding: 5%;
    width: 150px;
    height: 250px;
    background-color: #47FC90;
}