.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    position: static;
    margin: 0.9375em;
    /*padding: 5%; !*original*!*/
    /*width: 9.375em; !*original*!*/
    width: 15em;
    /*height: 15.625em; !*original*!*/
    height: 21em;
    background-color: #657A6E;
}

.image-box {
    background-color: #47FC90;
    position: relative;
    width: 13em;
    height: 16em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img {
    width: 8.75em;
    height: 8.75em;
    margin: 0;
}

.info {
    margin: 0;
    position: relative;
}

.info {
    padding: 0;
    color: #180427;
}