.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.green-box {
    width: 18.75em;
    height: 25em;
    background-color: #47FC90;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.875em;
}

.green-box img {
    width: 8.75em;
    height: 8.75em;
}

.img-with-button {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.info {
    width: 70%;
    font-family: Ruda;
    color: #EB1717;
    font-size: 18px;
}

h2 {
    margin: 2em;
    font-family: Ruda;
    color: #EB1717;
}

.two-buttons {
    width: 18.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-info {
    color: #180427;
}