<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add quest</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/add-element.css">
    <link rel="stylesheet" href="/static/css/add-quest.css">

    <script src="/static/js/script.js" defer></script>


</head>

<body>
<header>
    <div class="orange-header">
        <nav class="menu">
            <ul>
                <li> <a href="vessel">Console</a></li>
                <li> <a href="academy">Academy</a></li>
                <li> <a href="sanctuary">Sanctuary</a></li>
                <li> <a href="logout">Log out</a></li>
            </ul>
        </nav>
        <div id="title-with-logo">
            <h1><a href="index.html">MASONRY<br /> SYSTEM</a></h1>
            <img src="/static/images/masonry-logo.png" alt="masonry-logo" />
        </div>
    </div>
</header>
<main>
    <div class="sub-container">
        <h2 class="subpage-header">
            ADD QUEST
        </h2>
        <div class="triangle-box">
            <div class="purple-triangle">

            </div>
            <div class="shadow-triangle">

            </div>
        </div>
    </div>
    <div class="content">
        <form class="justify-center" method="POST">
            <input name="quest-name" type="text" placeholder="Quest name"/>
            <input name="quest-requirement" type="text" placeholder="Minimal rank to submit quest"/>
            <input name="quest-reward" type="text" placeholder="Quest reward"/>
            <textarea name="quest-description" type="text" placeholder="">Quest description</textarea>
            <input type="file" id="quest-image">
            <button class="red-button">
                Submit quest
            </button>
        </form>
    </div>
</main>
<footer>
    <div class="red-line">
        <h5>
            Masonry System &copy; 2020 made by Rafal Zawodowiec & Sfora Aleksander
        </h5>
    </div>
</footer>
</body>

</html>