<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EIN SOPH AUR</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="shortcut icon" href="/static/images/masonry-logo_favicon.png">
    <script src="/static/js/script.js" defer></script>
</head>

<body>
<header>
</header>
<main>
    <div class="sky">
        <div class="sun">
        </div>
        <div class="triangles">
            <div id="green-triangle">
            </div>
            <div class="purple-triangle">
                <form id="login-form" method="POST">
                    <input name="email" type="text">
                    <input name="password" type="text">
                    <input type="submit">
                </form>
            </div>
            <div class="shadow-triangle">
            </div>
        </div>

    </div>
    </div>

    <div class="ground">
    </div>


</main>

<footer>
</footer>
</body>

</html>