<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanctuary</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/sanctuary.css">
    <link rel="stylesheet" href="/static/css/card-wrapper.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
<header>
    <div class="orange-header">
        <nav class="menu">
            <ul>
                <li><a href="console">Console</a></li>
                <li><a href="academy">Academy</a></li>
                <li><a href="sanctuary">Sanctuary</a></li>
                <li><a href="logout">Log out</a></li>
            </ul>
        </nav>
        <div id="title-with-logo">
            <h1><a href="index">MASONRY<br/> SYSTEM</a></h1>
            <img src="/static/images/masonry-logo.png" alt="masonry-logo"/>
        </div>
    </div>
</header>
<main>
    <div class="sub-container">
        <h2 class="subpage-header">SANCTUARY</h2>

        {% if not (user.rank.getRankString().equals(Rank.AINSOPHAUR.getRankString()) or user.rank.getRankString().equals(Rank.THEILLUMINATIg.getRankString())) %}
            <div class="blue-box">
                <div class="sp-logo">
                    <img src="/static/images/eye_of_providence.png" alt="Spirit Points"/>
                </div>
                <div class="sp-text">
                    <span>Spirit Points:&nbsp</span>
                    <span {{ user.spiritPoints }} </span>
                </div>
            </div>
        {% endif %}

        <div class="triangle-box">
            <div class="purple-triangle">
            </div>
            <div class="shadow-triangle">
            </div>
        </div>
    </div>
    <div class="cards-wrapper">
        {% for artifact in artifacts %}
            <div class="card">
                <div class="image-box">
                    <img src="/static/images/illuminati-eye-of-providence-illuminati.png" alt="illuminati-eye"/>
                </div>
                <div class="info">
                    <strong>{{ artifact.name }}</strong> <br/>
                    Price: {{ artifact.price }}<br/>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
<footer>
    <div class="red-line">
        <h5>
            Masonry System &copy; 2020 made by Rafal Zawodowiec & Sfora Aleksander
        </h5>
    </div>
</footer>
</body>
</html>